<div class="container">
    <header class="header">
        <div><img src="../../assets/logo.svg" alt="Logo"></div>
        <button class="num-btn">Call 🤙 877-418-2003</button>
    </header>
    <section class="general">
        <div class="title-block">
            <h2 class="title">Connect with new Realtors and maximize your current Agent relationships</h2>
            <h5 class="subtitle">Increase your homeowner reach by 10x through agents database</h5>
        </div>
        <div class="video-form-block">
            <div class="video-block">
                <h3 class="video-title">Your business will never stay the same</h3>
                <span class="video-subtitle">Watch this video to <strong>see why</strong>!</span>
                <div class="video"></div>
                <span class="video-subtitle">Alex Tkachuk, CEO/Co-Founder</span>
            </div>
           <app-main-form></app-main-form>
        </div>
    </section>
    <section class="general">
        <div class="title-block">
            <div class="title-med">Marketing to Realtors is about building relationships and empowering them with tools to close more deals</div>
            <div class="description">Realtors are an important part in the succuss of your mortgage career. If Realtors don’t know who you are, it’s impossible for them to send business your way. Keep in mind that you are not the only loan officer trying to get their business.</div>
            <div class="separator"></div>
            <div class="description">Today’s Realtors are bombarded with marketing from LO’s who offer similar products and rates. With homeIQ you will stand out becuase for the first time Realtors receive a tool that will help them close more business and its absolutely FREE for them.</div>
            <div class="end-title">Cut through the noise and stand out <strong>GUARANTEED!</strong> </div>
        </div>
        <div class="info-pics-block">
            <div class="pic-text-block">
                <div class="pic tool"></div>
                <div class="title">Real Tool Pack</div>
                <div class="text">Tools to generate buyer and seller leads, plus nurturing database</div>
            </div>
            <div class="pic-text-block">
                <div class="pic track"></div>
                <div class="title">Track Activity</div>
                <div class="text">Stay in front of agents leads and past client database with refi options</div>
            </div>
            <div class="pic-text-block">
                <div class="pic compl"></div>
                <div class="title"> RESPA Compliant</div>
                <div class="text">homeIQ is compliant with all RESPA laws to ensure your success</div>
            </div>
        </div>
    </section>
</div>
